*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    background-color: #000;
    height: 48px;
}
.banner__text{
    color: #fff;
    position: absolute;
    margin-top: 12px;
    font-size: 14px;
    margin-left: 445px;
}
.banner__link{
    text-decoration: none;
    color: #fff;
    margin-top: 12px;
    border-bottom: 2px solid #fff;
    margin-left: 850px;
}
.language__selector{
    border: none;
    background: black;
    color: #fff;
    margin-top: 12px;
    margin-right: 136px;
}
.logo__text{
font-family: sans-serif;
font-weight: bold;
font-size: 24px;
line-height: 24px;
letter-spacing: 3%;
margin-left: 155px;
}
.navbar_side{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.navbar .menu{
    display: flex;
    list-style: none;
    gap: 48px;

}
.navbar{
    margin-left: 190px;
}

.menu li a {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-bottom: 5px;
    border-bottom: 2px solid transparent;
}
.menu li a:hover,
.menu li a.active{
    border-bottom: 2px solid gray;
}
.header-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 47px;
}
.search{
    display: flex;
    align-items: center;
    margin-left: 148px;
    background-color: #f5f5f5;
    padding: 10px 12px 10px 20px;
    margin-right: 24px;
}
.search input{
    border: none;
    background-color: transparent;
    outline: none;
    margin-right: 20px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.search .search__button{
    border: none;
    background-color: transparent;
}
.icons{
display: flex;
align-items: center;
gap: 16px;
margin-right: 150px;
cursor: pointer;
}

.main__section{
    width: 100%;
    border-top: 1px solid gray;
    margin-top: 20px;   
}
.sidebar{
    width: 233px;
    padding-top: 40px;
    border-right: 1px solid gray;
}
.sidebar ul {
    list-style: none;
    display: grid;
    gap: 16px;
}
.sidebar ul li a {
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
}.sidebar ul li{
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slide__section{
    display: flex;
    gap: 45px;
}
/* Slider start */
.slideshow{
    width: 892px;
    height: 344px;
    background: #000;
    margin-top: 40px;
    overflow: hidden;
}
.apple__logo{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 58px;
    margin-left: 64px;
}
.apple__logo p {
    color: #f5f5f5;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 24px;
}
.slide__text{
    color: #f5f5f5;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 22px;
    margin-left: 64px;
}
.slideshow__link{
    display: flex;
    align-items: center;
    gap: 4px;
}
.slideshow__link a{
    color: #f5f5f5;
    text-decoration: none;
    margin-left: 67px;
    border-bottom: 1px solid white;
    margin-bottom: 9px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.slide__separate{
    flex: 0 0 100%;
    display: flex;
}
.slideshow{
    position: relative;
}
.slideshow__main{
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
}
.dots{
    position: absolute;
    bottom: 11px;
    left: 353px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
}
.dots {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .indicator {
    width: 8px;
    height: 8px;
    background: gray; 
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent; 
    transition: all 0.3s ease;
  }
  
  .indicator.active {
    background: #DB4444; 
    border: 2px solid white;
  }
  

  
.sales{
    margin-top: 140px;
}

.red__icon{
    width: 20px;
    height: 40px;
    border-radius: 4px;
    background-color: #DB4444;
}

.section__text{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #DB4444;
    position: absolute;
    margin-left: 26px;
    margin-top: 10px;
    white-space: nowrap;
    
}
.section__main{
    display: flex;
    align-items: center;
    gap: 90px;
}

.sales__timer{
    display: flex;
    align-items: center;
    gap: 16px;
}
.sales_timer-item .label{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 12px;
}
.sales_timer-item .number{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 32px;
}
.dot{
    margin-top: 20px;
}
.navigation__buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 380px;
}
.left__button button:hover{
    background-color: #ababab;
    cursor: pointer;
}
.right__button button:hover{
    background-color: #ababab;
    cursor: pointer;
}
.left__button button{
    padding: 11px 11px;
    border-radius: 50%;
    border: none;
    width: 46px;
    height: 46px;
}
.right__button button{
    padding: 11px 11px;
    border-radius: 50%;
    border: none;
    width: 46px;
    height: 46px;
}   



.sales__text{
    width: 250px;
}
.flash_text{
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 36px;
}

.image__side{
    position: relative;
    width: 200px;
    height: 180px;
    background-color: #f5f5f5;
    padding: 35px 40px;
    display: flex;
    align-items: center;
}

.product__items{
    display: flex;
    margin-top: 40px;
    align-items: center;
    overflow-x: auto;
    gap: 30px;
}

.like{
    position: absolute;
    margin-bottom: 180px;
    margin-left: 200px;
    background-color: white;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.like img{
    padding: 5px;
}
.eye{
    position: absolute;
    margin-bottom: 100px;
    margin-left: 200px;
    background-color: white;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
.eye img{
    padding: 5px;
}
.eye img:hover{
    cursor: pointer;
}
.eye svg {
    fill: red;
    transition: fill 0.3s;
}

.eye:hover svg {
    fill: red ;
}

.discount{
    position: relative;
    margin-bottom: 200px;
    right: 200px;
    font-weight: 400;
    font-size: 12px;
    padding: 4px 12px;
    background-color: #DB4444;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
}

.info__side .type{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
}
.current__price{
    font-weight: 500;
    font-size: 16px;
    color: #DB4444;
    font-family: sans-serif;
}
.stars{
    display: flex;
    gap: 5px;
}

.add{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    transition: 0.3s;
    display: none;
}
.add:hover{
    background-color: #444;
}
.add.added{
    background-color: green;
    color: white;
}
.add.added:hover{
    background-color: darkgreen;
}


.previos__price{
    position: relative;
    margin: 0;
    top: 0;
    left: 0;
}

.prices{
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}
.icons{
    margin-top: 8px;
    gap: 5px;
}
.ratings__number p{
    display: flex;
    align-items: center;
    font-weight: 600;
    color: gray;
    font-size: 14px;
    font-family: sans-serif;
}

.add{
    position: absolute;
    width: 100%;
    padding: 8px 87px;
    left: 0;
    bottom: 0;
    background-color: #000;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    font-family: sans-serif;
}
.add{
    display: none;
}
.image__side:hover .add,
.add:active{
    display: flex;
}

.btn{
    padding: 16px 48px;
    background-color: #DB4444;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 14px;
    margin-left: 500px;
    margin-top: 60px;
}



.categories__main {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 60px;
}

.categories__text{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 36px;
    margin-top: 10px;
}

.naviigation__buttons {
    display: flex;
    gap: 10px; 
}

.catigorie__item{
    width: 170px;
    height: 145px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
    border-radius: 4px;
    border: 1px solid gray;
    display: flex;
}
.catigorie__items{
    display: flex;
    align-items: center;
    gap: 30px;
}
.catigorie__item-text{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.catigorie__item:hover,
.catigorie__item:active,
.catigorie__item:active{
    background-color: #DB4444;
    color: white;
}
.catigorie__item:hover img {
    filter: brightness(0) invert(1); /* Oq qilib ko‘rsatadi */
  }

  .catigorie__item:hover .camera-icon path {
    stroke: white;
  }

.red__icon2{
    width: 20px;
    height: 40px;
    border-radius: 4px;
    background-color: #DB4444;
}

.section__text2{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #DB4444;
    margin-top: 10px;
}
.section__titles{
    margin-top: 140px;
    display: flex;
    gap: 10px;
    
}
.border{
    border: 1px solid gray;
    width: 1170px;
    margin-top: 70px;
}



.best__btn{
    padding: 16px 48px;
    background-color: #DB4444;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 14px;
}

.best__cards{
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 30px
}
.best__image{
    position: relative;
    width: 200px;
    height: 180px;
    background-color: #f5f5f5;
    padding: 35px 40px;
    display: flex;
    align-items: center;
}

.best__like{
    position: absolute;
    top: 12px;
    right: 12px;
}
.best__eye{
    position: absolute;
    top: 54px;
    right: 12px;
}
.info__text{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
}
.best__costs{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 5px;
}
.best__price{
    color: #DB4444;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.price{
    margin-top: 2px;
}
.best__ratings{
    margin-top: 8px;
    display: flex;
    gap: 5px;
}
.best__number{
    position: absolute;
    margin-left: 10px;
    font-weight: 600;
    color: gray;
    font-size: 14px;
    font-family: sans-serif;
}
.best__number1{
    position: absolute;
    margin-left: 110px;
    font-weight: 600;
    color: gray;
    font-size: 14px;
    font-family: sans-serif;
}
.best__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__text3{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #DB4444;
}
.section__title-best{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 70px;
}



.offer{
    margin-top: 140px;
}
.offer__item{
    width: 100%;
    height: 500px;
    background-color: #000;
    padding-right: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 43px;
}
.offer__label{
    margin-top: 69px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #00FF66;
    margin-left: 60px;
}
.offer__title{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 48px;
    margin-top: 32px;
    color: white;
    margin-left: 56px;
}
.offer__timer{
    display: flex;
    gap: 24px;
    margin-top: 32px;
    margin-left: 56px;
}

.offer__circle{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.offer__number{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.offer__time{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.offer__btn{
    margin-top: 50px;
    margin-left: 56px;
}
.offer__btn button{
    width: 171px;
    height: 56px;
    border-radius: 4px;
    border: none;
    background-color: #00FF66;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    margin-left: 56px;
}
.offer__image img{
    filter: drop-shadow(20px 15px 90px gray);
}



.best__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* tepada 4 ta chiqadi */
    gap: 20px; /* kartalar orasida joy */
  }

  .our__new{
    padding: 4px 12px;
    position: absolute;
    background-color: #00FF66;
    border-radius: 4px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #fff;
    top: 12px;
    left: 12px;
}

.add2 {
    display: none;             /* Avval ko‘rinmas */
    position: absolute;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 280px;
    height: 41px;
    padding: 8px 87px;
    left: 0;
    bottom: 0;
    background-color: #000;
    font-weight: 600;
    font-size: 16px;
    font-family: sans-serif;
  }
  
  .best__image:hover .add2 {
    display: block;           
  }
  

  .color-options {
    display: flex;
    gap: 8px;
    margin-top: 8px;
  }
  
  .color-circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
  }

  .best__card {
    position: relative;
    overflow: hidden;
  }
  
  .add2:hover {
    background-color: #444;
  }
  
  .add2.added {
    background-color: green;
    color: white;
  }
  
  .add2.added:hover {
    background-color: darkgreen;
  }




  .arrival__main{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 4%;
    margin-top: 20px;
}
.new__arrival-grid{
    display: grid;
    grid-template-columns: 570px 270px 270px;
    grid-template-rows: 284px 284px;
    gap: 32px;
    margin-top: 60px;
}

.play{
    grid-row: 1 / 3;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #000;
    color: #fff;
    padding-left: 32px;
    padding-bottom: 32px;
}
.women{
    grid-column: 2 / 4;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #0D0D0D;
    color: #fff;
    padding-left: 24px;
    padding-bottom: 24px;
}
.speaker{
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    color: #fff;
    padding-left: 24px;
    padding-bottom: 24px;
}
.parfume{
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0D0D0D;
    color: #fff;
    padding-left: 24px;
    padding-bottom: 24px;
}
.new__arrival-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.new__title{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
    margin-bottom: 16px;
}
.new__arrival-description{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    margin-bottom: 10px;
}
.arrival__btn{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    border-bottom: 1px solid #888F93;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}



.service{
    margin-top: 140px;
    padding-bottom: 140px;
    position: relative;
}
.service__items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 88px;
}
.service__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.service__item-title{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    margin-top: 24px;
}
.service__item-text{
    margin-top: 8px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
}
.up-button {
    position: absolute;
    right: 90px;   
    top: 200px;
    display: none;
    z-index: 1000;    
  }
  .up-button button {
    border-radius: 50%;
    border: none;
    background-color: #f5f5f5;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .up-button button:hover{
   background-color: #ababab;
  }
  .up-button.show {
    display: block;
  }
  



  .footer{
    width: 100%;
    background-color: #000;
    color: white;
    padding-top: 80px;
}
.footer__logo{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
}
.form__title{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    margin-top: 24px;
}
.form__text{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 24px;
}
.form__input{
    width: 217px;
    height: 45px;
    border: 1.5px solid white;
    margin-top: 16px;
}
.form__input input{
    height: 40px;
    margin-left: 16px;
    width: 150px;
    margin-right: 20px;
    border: none;
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    outline: none;
    background-color: black;
    border-radius: 4px;
}

.form__btn{
    border: none;
    background-color: #000;
    outline: none;
    margin-top: 10px;
    position: absolute;
}

.form__content{
    display: flex;
    gap: 87px;
}
.footer__section-title{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    margin-top: 16px;
}

.support__info{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 16px;
}
.support__email a{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-decoration: none;
    color: white;
    margin-top: 16px;
}
.support__email a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}
.support__email{
    margin-top: 16px;
}
.support__number a{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-decoration: none;
    color: white;
}
.support__number{
    margin-top: 16px;
}
.footer__menu{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
}
.footer__menu li{
    list-style: none;
    color: white;
}

.footer__menu li a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    white-space: nowrap; /* yangi qo‘shildi */
}


.footer__text{
    margin-top: 24px;
}

.footer__image{
    display: flex;
    margin-top: 10px;
    gap: 10px;
}
.footer__icons{
    display: flex;
    gap: 24px;
    margin-top: 24px;
}
.footer__text a{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    text-decoration: none;
    color: white;
}

.footer__line{
    margin-top: 60px;
    border-top: 1px solid #141414;
}

.icon__copyright{
    margin-top: 4px;
}
.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-top: 16px;
    padding-bottom: 24px;
}
.copyright__text{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: gray;
}



.main__section{
    width: 100%;
    border-top: 1px solid gray;
   
}
.signup{
    padding-top: 60px;
    border-top: 1px solid #b3b3b3;
    margin-top: 30px;
}
.sign__over{
    display: flex;
    align-items: center;
}
.sign__form{
    margin-left: 129px;
}
.form__sign{
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}

.sign__title{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 36px; 
    line-height: 30px;
    letter-spacing: 4%;
}
.sign__text{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 24px;
}
.sign__img{
    margin-top: 60px;
    margin-bottom: 140px;
}
.form__sign input{
    padding-bottom: 8px;
    width: 370px;
    border: none;
    border-bottom: 1px solid #7f7f7f;
    outline: none;
    margin-bottom: 40px;
}
.create__account-btn{
    height: 56px;
    background-color: #DB4444;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.sign__buttons{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.google__img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    background-color: white;
    border-radius: 4px;
    border: 1px #999 solid;
    cursor: pointer;
}
.login__link{
    margin-top: 34px;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.sign__question{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #4d4d4d;
}
.log__sign{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #4d4d4d;
}
.log__sign{
    text-decoration: none;
    color: #4d4d4d;
    margin-bottom: 4px;
    border-bottom: 1px solid #7f7f7f;
    font-family: sans-serif;
    cursor: pointer;
}
.create__account-btn:hover{
    cursor: pointer;
    background-color: #de7b7b;
}
.google__img:hover{
    background-color: #cecbcb;
}



.log__in{
    display: flex;
    align-items: center;
    gap: 87px;
}

.log__question{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.log__account-btn{
    height: 56px;
    background-color: #DB4444;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    width: 143px;
    height: 56px;
}
.log__account-btn:hover{
    cursor: pointer;
    background-color: #de7b7b;
}




.icons{
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.user__icon-modal{
    position: relative;
}

.modal__item{
    position: absolute;
    width: 224px;
    border-radius: 4px;
    background: #0000000A;
    z-index: 2;
    right: 0;
    backdrop-filter: blur(100px);
    display: none;
}
.user__check{
    display: none;
}

#user__check:checked ~ .modal__item{
    display: block;
}
.list__icon a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 16px;
}
.list__icon{
    list-style: none;
}
.user__look{
    cursor: pointer;
}

.modal__menu{
    padding: 12px;
    display: flex;
    flex-direction: column;
}





.wishlist{
    border-top: 0.5px solid gray;
    margin-top: 20px;
}

.wishlist__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}
.wishlist__menu p{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.wishlist__btn{
    width: 223px;
    height: 56px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #7f7f7f;
    position: relative;
}
.wishlist__btn p{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.wishlist__cards{
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 140px;
}
.wishlist__image{
    position: relative;
    width: 200px;
    height: 180px;
    background-color: #f5f5f5;
    padding: 35px 40px;
    display: flex;
    align-items: center;
}
.delete{
    position: absolute;
    top: 12px;
    right: 12px;
    width: 34px;
    height: 34px;
}
.wishlist__text{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
}
.wishlist__costs{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 5px;
}
.wishlist__price{
    color: #DB4444;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.price{
    margin-top: 3px;
}

.wishlist__discount{
    padding: 4px 12px;
    background-color: #DB4444;
    color: #fff;
    border-radius: 4px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    position: absolute;
    top: 12px;
    left: 12px;
}
.wishlist__add{
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 41px;
    background-color: #000;
    color: #fff;
    border-radius: 0 0 4px 4px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
}

.suggestions{
    margin-top: 80px;
}
.main__suggestion{
    display: flex;
    align-items: center;
}
.box__suggestion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heart-icon{
    width: 20px;
    height: 40px;
    border-radius: 4px;
    background-color: #DB4444;
}
.suggestion__just{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 16px;
}
.suggestion__btn{
    width: 150px;
    background-color: white;
    height: 56px;
    border-radius: 4px;
    border: 1px solid #7f7f7f;
}

.suggestion__btn p{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}
.new{
    padding: 4px 12px;
    position: absolute;
    background-color: #00FF66;
    border-radius: 4px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #fff;
    margin-bottom: 430px;
    left: 12px;
    margin-top: 12px;
}

.toast-message {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50px;
    margin-left: 600px;
    background: #333;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 15px;
    z-index: 9999;
    opacity: 0.95;
    transition: all 0.3s ease;
  }
  


.cart-count{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 190px;
    top: 100px;
    border-radius: 50%;
    background-color: #DB4444;
    opacity: 1;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
}

  .card__links{
    margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.card__home{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    text-decoration: none;
    color: #7f7f7f;
}

.cardpage{
    border-top: 0.5px solid gray;
    margin-top: 20px;
}


.card__cart{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    text-decoration: none;
    color: black;
}
.card__links p{
    color: #7f7f7f;
    font-weight: 500;
}
.card__items{
    margin-top: 80px;
}
.card__sections{
    padding: 24px 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 13px 0px #d9d0d0b2;
    border-radius: 4px;
    margin-top: 40px;
}
.card__types{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}
.card__product{
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 13px 0px #d9d0d0b2;
    border-radius: 4px;
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 66px;
    height: 105px;
}
.card__position{
    display: flex;
    align-items: center;
    gap: 20px;
}
.tv__card{
    position: relative;
    margin-left: 40px;
}
.tv__icon{
    position: absolute;
    left: -7px;
}
.tv__icon1{
    position: absolute;
    left: -10px;
    top: -3px;
}
.price__card{
    margin-left: 189px;
}
.card__counter{
    margin-left: 290px;
    display: flex;
    align-items: center;
    padding: 3px 7px;
    border: 1.5px solid #999;
    border-radius: 4px;
    gap: 16px;
}
.icons__cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.price__cardd{
    margin-left: 300px;
}
.card__buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}
.return__btn{
    width: 218px;
    height: 56px;
    background-color: white;
    border: 1px solid #7f7f7f;
    border-radius: 4px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}
.update__btn{
    width: 195px;
    height: 56px;
    border: 1px solid #7f7f7f;
    border-radius: 4px;
    background-color: white;
    border-radius: 4px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}



.carts__coupon{
    margin-top: 80px;
    padding-bottom: 200px;
}
.coupon{
    display: flex;
    gap: 16px;
}
.coupon input{
    width: 300px;
    height: 30px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #7f7f7f;
    padding: 16px 24px;
    border-radius: 4px;
    border: 1px solid black;
    padding-left: 24px;
}
.coupon__btn{
    width: 211px;
    height: 56px;
    border-radius: 4px;
    color: white;
    background-color: #DB4444;
    border: none;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}
.total__cart{
    width: 470px;
    height: 325px;
    border: 1.5px solid black;
    padding: 32px 24px;
    border-radius: 4px;
}

.total__title{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
}
.subtotal{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    padding-bottom: 16px;
    border-bottom: #999 solid 1px;
    margin-bottom: 16px;
}

.subtital{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    padding-bottom: 16px;
}

.cart__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 56px;
    background-color: #DB4444;
    color: white;
    font-family: sans-serif;
    margin-top: 16px;
    margin-left: 89px;
    border: none;
    text-decoration: none;
}
.cart__btn:hover{
    background-color: #e39696;
    cursor: pointer;
}

.coupon__cards{
    display: flex;
    justify-content: space-between;
}
.subtotal__text{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}
.subtotal__price{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}







/*Checkout*/
.main__section{
    width: 100%;
    border-top: 1px solid gray;
    margin-top: 50px;
}

.checkout{
    margin-top: 30px;
    border-top: 1px solid gray;
}
.breadcrumb__menu{
    display: flex;
    align-items: center;
    margin-top: 80px;
    gap: 12px;
    list-style: none;
}
.bread__list{
    list-style: none;
}
.bread__list a{
    text-decoration: none;
    color: #7f7f7f;
}
.bread__link{
    list-style: none;
}
.bread__link a{
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
}

.billing{
    margin-top: 80px;
    padding-bottom: 300px;
}
.billing__title{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 36px; 
    line-height: 30px;
    letter-spacing: 4%;
    margin-top: 48px;
}

.billing__inputs{
    margin-top: 48px;
}
.billing__input{
    margin-top: 8px;
    width: 470px;
    height: 50px;
    background-color: #f5f5f5;
    border: none;
    outline: none;
}
.label__billing{
    display: flex;
    margin-top: 32px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #bfbfbf;
}

.checkbox__label{
    display: flex;
    margin-top: 24px;
}
.checkbox__input{
    display: none;
}
.checkmark{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
}
.billing__icon{
    display: none;
}
.checkbox__text{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 3px;
    margin-left: 15px;
}
.checkbox__input:checked ~ .checkmark{
    background-color: #db4444;
    border-color: #db4444;
}
.checkbox__input:checked ~.checkmark .billing__icon{
    display: block;
}

/*Summary*/

.summary{
    margin-top: 170px;
}
.checkout__section{
    display: flex;
    gap: 174px;
}

.summary__product{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image__summary{
    display: flex;
    align-items: center;
    gap: 24px;
}
.summary__products-name{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.summary__price{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.summary__products{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.summary__total{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.subtotal{
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid #999;
}
.subtital{
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}
.subtotal__title{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}
.summary__payment-method{
    margin-top: 32px;
}
.bank__way{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.bank-label{
    display: flex;
}
.radio-summary {
    display: none; /* default radio buttonni yashiramiz */
  }
  
  .radio__summary-swap {
    width: 18px;
    height: 18px;
    border: 2px solid gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .radio-summary:checked + .radio__summary-swap {
    border-color: black;
  }
  
  .radio-summary:checked + .radio__summary-swap .radio__circle-1,
  .radio-summary:checked + .radio__summary-swap .radio__circle {
    background: black;
  }
  .radio__circle-1,
  .radio__circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: transparent;
  }
  
.bank-label{
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.summary__cash-method{
    display: flex;
    align-items: center;
    margin-top: 32px;
    gap: 16px;
    cursor: pointer;
}
.summary__cupon-part{
    margin-top: 32px;
}
.summary__cupon-input{
    width: 300px;
    padding: 16px 24px;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}
.apply__cupon-btn{
    width: 212px;
    height: 56px;
    background-color: #db4444;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}
.apply__cupon-btn:hover{
    background-color: #eca2a2;
    cursor: pointer;
}
.cupon__side{
    display: flex;
    gap: 16px;
}
.summary__place-btn{
    margin-top: 32px;
    width: 190px;
    height: 56px;
    background-color: #db4444;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}
.summary__place-btn:hover{
    background-color: #eca2a2;
    cursor: pointer;
}


.cart__image {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.summary__product img {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }


.like svg path {
    stroke: black; /* default yurak chizig‘i */
    fill: none;    /* ichi bo‘sh */
    transition: all 0.3s ease;
  }
  
  .like.active svg path {
    stroke: red;   /* bosilganda kontur qizil */
    fill: red;     /* ichi ham qizil bo‘ladi */
  }
  



  
.breadcrumb__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}
.breadcrumb__menu{
    display: flex;
    align-items: center;
    gap: 12px;
}
.breadcrumb__menu li{
    list-style: none;
}
.breadcrumb__menu .breadcrumb__list a{
    text-decoration: none;
    color: #7f7f7f;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
}
.breadcrumb__menu .breadcrumb__link a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
}

/*Account*/

.account__section h3{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: black;
    margin-bottom: 16px;
}
.account__section ul li{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    opacity: 50%;
    line-height: 24px;
    list-style: none;
    margin-bottom: 8px;
    padding-left: 35px;
}
.account__section ul li:hover{
    color: #DB4444;
    opacity: 100%;
    cursor: pointer;
}
.account__nav{
    margin-top: 80px;
}

/*Profile inputs*/

.account__overall{
    display: flex;
    justify-content: space-between;
}
.profile-edit-form{
    padding: 40px 80px;
    margin-top: 70px;
}
.profile__main-title{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #DB4444;
}
.inputs__profile{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 16px;
}
.main__label{
    display: block;
}
.profile-input{
    width: 330px;
    padding: 13px 16px;
    margin-top: 8px;
    background-color: #f5f5f5;
    border-radius: 4px;
    border: none;
    outline: none;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}
.inputs__profile-next{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 24px;
}
.main__label{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}
.profile-password-title{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 24px;
}
.password__input{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    width: 750px;
    padding: 13px 16px;
    margin-bottom: 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #f5f5f5;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.profile__buttons{
    display: flex;
    justify-content: end;
    margin-top: 24px;
    gap: 32px;
}
.cancel__btn{
    border: none;
    background-color: white;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    cursor: pointer;
}
.save__btn{
    width: 214px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #DB4444;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}
.cancel__btn:hover{
    color: #7c7676;
}
.save__btn:hover{
    background-color: #e98989;
    cursor: pointer;
}

.error-message{
    color: red;
    font-size: 24px;
    margin: 10px 0;
    min-height: 20px;
    text-align: center;
}


.about{
    border-top: 1px solid gray;
    margin-top: 30px;
}
.about__breadcrumb{
    margin-top: 80px;
}
.about__breadcrumb-menu{
    display: flex;
    align-items: center;
    gap: 12px;
}
.about__breadcrumb-list{
    list-style: none;
    color: #7f7f7f;
}
.about__breadcrumb-list a{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0%;
    color: #7f7f7f;
}
.about__breadcrumb-link{
    color: #000;
    list-style: none;
}
.about__breadcrumb-link a{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    text-decoration: none;
    color: #000;
}

.about__items{
    display: flex;
    justify-content: space-between;
}
.about__item{
    max-width: 525px;
    margin-left: 170px;
    margin-top: 140px;
}
.about__title{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 54px;
    line-height: 64px;
    letter-spacing: 6%;
    text-align: justify;
    margin-bottom: 40px;
}
.about__text-start{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
}
.about__text-end{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    margin-top: 24px;
}


/*Obodullaev Komoliddin*/

.statistics{
    margin-top: 140px;
    padding-bottom: 200px;
}
.statistics__items{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.statistics__item{
    border: 1px solid #b3b3b3;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 270px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    cursor: pointer;
}
.statistics__number{
    margin-top: 24px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 0%;
}
.statistics__text{
    margin-top: 12px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.statistics__item:hover{
    background-color: #DB4444;
}

.statistics__item.active{
    background-color: #DB4444;
}


.statistics__item:hover .statistics__svg circle,
.statistics__item:hover h3,
.statistics__item:hover p{
    fill: white;
    color: white;
}
.statistics__item:hover .statistics__svg .outer{
    fill: white;
    opacity: 0.3;
}
.statistics__item:hover .statistics__svg .inner{
    stroke: #000;
}



.img__item{
    background-color: #f5f5f5;
    width: 370px;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team__name{
    margin-top: 32px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 4%;
}
.team__position{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 8px;
}

.team__socials{
    margin-top: 16px;
    display: flex;
    gap: 16px;
}
.team__numbers{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.statistics__item.active .statistics__number,
.statistics__item.active .statistics__text {
  color: #fff; 
}


  .dots1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 40px;
    background-color: transparent;
  }
  
  .indicator {
    width: 8px;
    height: 8px;
    background: gray;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s ease;
  }
  
  .indicator.active {
    background: #DB4444;
    border: 2px solid white;
  }
  